<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test thread-count="1" name="Test Basics 1">
        <classes>
            <class name="com.mine.tests.LoginPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->